* text=auto !eol
/Makefile -text
/apertium-hun-eng.eng.dix -text
/apertium-hun-eng.hun-eng-WIP.dix -text
/apertium-hun-eng.hun-eng.dix -text
/apertium-hun-eng.hun-eng.lrx -text
/apertium-hun-eng.hun-eng.t1x -text
/apertium-hun-eng.hun-eng.t2x -text
/apertium-hun-eng.hun-eng.t3x -text
/apertium-hun-eng.hun.dix -text
dev/att_to_ltt/att_to_ltt.cpp -text
dev/att_to_ltt/kaz.att -text
dev/att_to_ltt/repl.py -text
dev/att_to_ltt/test-att.lexc -text
dev/att_to_ltt/test.att -text
dev/fomacg_proc/apertium_to_fomacg.foma -text
dev/fomacg_proc/fomacg_proc.cpp -text
dev/hun.rlx -text
dev/hunmorph_to_apertium.cpp -text
dev/kr_to_apertium.foma -text
dev/kr_to_apertium.lexc -text
dev/kr_to_apertium2.foma -text
dev/kr_to_apertium_spec.lexc -text
dev/rasskaz.hun.hunmorph -text
dev/rasskaz.stream -text
dev/uniq_oca.py -text
/hun-eng.prob -text svneol=unset#unset
/modes.xml -text
texts/rasskaz.eng.txt -text
texts/rasskaz.hun.txt -text
